/* ---------- Variables ---------- */
$m-media: 900px;

/* ---------- Typography ---------- */
@font-face {
    font-family: "Gluten", sans-serif;
    src: url("../fonts/Gluten/Gluten-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

/* ---------- Content ---------- */
body {
    background-color: #8280DF;
    margin: 16px;
}

.container {
    background-color: white;
    border-radius: 24px;
    padding: 48px;

    @media (max-width: $m-media) {
        padding: auto 0 auto 0;
      }
}

.logo {
    display: block;
    margin: 0 auto;
}

img.newsletter {
    width: 40vw;
    display: block;
    margin: 0 auto;

    @media (max-width: $m-media) {
        width: 50%;
      }
}

p.copyright {
    font-family: "Gluten", sans-serif;
    text-align: center;
    padding-top: 48px;
}

iframe {
    margin: 0 auto;
}