/* ---------- Typography ---------- */
@font-face {
    font-family: "Gluten", sans-serif;
    src: url("../font/Gluten/Gluten-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

/* ---------- Content ---------- */
body {
    background-color: #8280DF;
    margin: 16px;
}

.container {
    background-color: white;
    border-radius: 24px;
    padding: 48px;
}

.logo {
    display: block;
    margin: 0 auto;
}

.newsletter {
    width: 40vw;
    display: block;
    margin: 0 auto;
}

p.copyright {
    font-family: "Gluten", sans-serif;
    text-align: center;
    padding-top: 48px;
}

iframe {
    margin: 0 auto;
}