/* ---------- Variables ---------- */
$m-media: 900px;
$font-family: "Gluten", serif;

/* ---------- Typography ---------- */
@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');

@font-face {
    font-family: "Gluten", serif;
    src: url("/fonts/Gluten/Gluten-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

/* ---------- Content ---------- */
body {
    background-color: #8280DF;
    margin: 16px;
}

.container {
    background-color: white;
    border-radius: 24px;
    padding: 48px;

    @media (max-width: $m-media) {
        padding-right: 24px;
        padding-left: 24px;
      }
}

.logo {
    display: block;
    margin: 0 auto;
}

img.newsletter {
    width: 50vw;
    display: block;
    margin: 0 auto;

    @media (max-width: $m-media) {
        width: 90%;
      }
}

p.copyright {
    font-family: $font-family;
    text-align: center;
    padding-top: 48px;
}

iframe {
    margin: 0 auto;
    padding-bottom: 24px;
}